.home {
  padding: 20px;
  background-color: #111;
  color: #fff;
  min-height: 100vh;
}

.category-dropdown {
  margin-bottom: 20px;
  text-align: center;
}

.category-dropdown select {
  padding: 10px;
  font-size: 16px;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.row-container {
  position: relative;
  overflow-x: hidden;
  padding: 0 40px; /* espacio para flechas */
}

.row-scroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  padding: 10px 0;
}

.row-scroll::-webkit-scrollbar {
  display: none;
}

.row-scroll {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}


.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 12px;
  border-radius: 8px;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}

.scroll-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
