.movie-card {
  width: 180px;
  text-align: center;
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
}

.movie-card img {
  width: 100%;
  border-bottom: 2px solid #444;
}

.movie-card:hover img {
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
}


.movie-card h3 {
  font-size: 14px;
  padding: 10px;
  color: #fff;
}

/* src/styles/MovieCard.css */
.movie-card {
  min-width: 150px;
  flex: 0 0 auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
  z-index: 2;
}

.movie-card {
  flex: 0 0 auto;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
  z-index: 2;
}

.favorite-btn {
  position: absolute;
  top: 3px;
  right: .3px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  font-size: 1.5rem;
  color: white;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s;
}

.favorite-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: red;
}


